{% extends 'ui/base.html' %}
{% load static %}

{% block content %}
<div id="app_patient">
  <navbar-template></navbar-template>
  <breadcrumb-template :nav_items="nav_items"></breadcrumb-template>
  <div class="container" style="position: relative;">
    <div class="alert-container">
      <transition-group name="list" tag="div">
        <alert-template v-for="alert in alert_list" :key="alert.content" :status="alert.status">[% alert.content %]</alert-template>
      </transition-group>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <h3>新建病例</h3>
        <case-form-template :case_obj="case_obj" :patient_option="patient_option" :template_option="template_option"></case-form-template>
        <button type="button" class="btn btn-primary" v-on:click="submit">新建访客</button>
      </div>
    </div>
    <br v-for="i in 2"/>
    <modal-template :info="modal_info" :confirm="confirm">
      <div class="row">
        <case-info-template :case_info="case_obj" :patient_option="patient_option" :template_option="template_option"></case-info-template>
      </div>
    </modal-template>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'ui/components/NavbarTemplate.js' %}"></script>
<script src="{% static 'ui/components/BreadcrumbTemplate.js' %}"></script>
<script src="{% static 'ui/components/AlertTemplate.js' %}"></script>
<script src="{% static 'ui/components/ModalTemplate.js' %}"></script>
<script src="{% static 'ui/components/CaseInfoTemplate.js' %}"></script>
<script src="{% static 'ui/components/AutoTextTemplate.js' %}"></script>
<script src="{% static 'ui/components/CaseFormTemplate.js' %}"></script>

<script>
  new Vue({
    delimiters: ['[%', '%]'],
    el: '#app_patient',
    beforeCreate: function() {

    },
    created: function() {
      var url_param = new URLSearchParams(window.location.search);
      var patient_id = url_param.get('patient');
      var case_id = url_param.get('case');
      patient_id = patient_id && parseInt(patient_id, 10);
      case_id = case_id && parseInt(case_id, 10);

      var this_vm = this;

      if (patient_id) {
        setTimeout(function() {
          this_vm.case_obj = {patient: patient_id, template: ''};
        }, 1);
      }else if(case_id) {
        this.case_id = case_id;
        this.load_case().then(function() {
          this_vm.case_obj.id = null;
        });
      }

      var current_url = window.location.pathname;
      this.case_id = parseInt(current_url.substring(current_url.lastIndexOf('/') + 1), 10);
      this.nav_items = [['home'], ['search'], ['case_new', {'id': this.case_id}]];

      var this_vm = this;
      this.load_patient_option();
      this.load_template_option();
    },
    data: {
      case_obj: {template: ''},
      alert_list: [],
      modal_info: {
        id: 'diffModal',
        title: '确认更改吗？',
        size: 'xl'
      },
      patient_option: [],
      template_option: []
    },
    computed: {
      modal_id : function() {
        return "#" + this.modal_info.id;
      }
    },
    methods: {
      chinese_compare: function(var1, var2) {
        return var1.name.localeCompare(var2.name, "zh-CN");
      },
      load_patient_option: function() {
        var this_vm = this;
        this.get_patient_option().then(function (response) {
          this_vm.patient_option = response.data.list.sort(this_vm.chinese_compare);;
        }).catch(function (error) {
          console.log(error);
        });
      },
      load_template_option: function() {
        var this_vm = this;
        this.get_template_option().then(function (response) {
          this_vm.template_option = response.data.list.sort(this_vm.chinese_compare);;
        }).catch(function (error) {
          console.log(error);
        });
      },
      load_case: function() {
        var this_vm = this;
        return this.get_case_by_id(this.case_id)
          .then(function (response) {
            this_vm.case_obj = response.data;
          });
      },
      submit: function() {
        $(this.modal_id).modal('show');
      },
      confirm: function() {
        var this_vm = this;
        this.post_case(this.case_obj)
          .then(function (response) {
            if (response.data.success) {
              $(this_vm.modal_id).modal('hide');
              window.location.href = this_vm.route_obj_by_alias('case_detail', {id: response.data.data.id, save: true}).url;
            }
          }).catch(function (error) {
            console.log(error);
          });
      },
    }
  });
</script>
{% endblock %}
