{% extends 'ui/base.html' %}
{% load static %}

{% block content %}
<div id="app_patient">
  <navbar-template></navbar-template>
  <breadcrumb-template :nav_items="nav_items"></breadcrumb-template>
  <div class="container" style="position: relative;">
    <div class="alert-container">
      <transition-group name="list" tag="div">
        <alert-template v-for="alert in alert_list" :key="alert.content" :status="alert.status">[% alert.content %]</alert-template>
      </transition-group>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <h3>病例详情</h3>
        <case-form-template :case_obj="case_obj" :patient_option="patient_option" :template_option="template_option"></case-form-template>
        <button type="button" class="btn btn-primary" v-on:click="submit">更改访客</button>
      </div>
    </div>
    <br v-for="i in 2"/>
    <modal-template :info="modal_info" :confirm="confirm">
      <div class="row">
        <div class="col-6">修改前：</div>
        <div class="col-6">修改后：</div>
        <div class="col-6 border-top border-right">
          <case-info-template :case_info="case_obj_old" :patient_option="patient_option" :template_option="template_option"></case-info-template>
        </div>
        <div class="col-6 border-top border-left">
          <case-info-template :case_info="case_obj" :patient_option="patient_option" :template_option="template_option"></case-info-template>
        </div>
      </div>
    </modal-template>
  </div>


</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'ui/components/NavbarTemplate.js' %}"></script>
<script src="{% static 'ui/components/BreadcrumbTemplate.js' %}"></script>
<script src="{% static 'ui/components/AlertTemplate.js' %}"></script>
<script src="{% static 'ui/components/ModalTemplate.js' %}"></script>
<script src="{% static 'ui/components/CaseInfoTemplate.js' %}"></script>
<script src="{% static 'ui/components/AutoTextTemplate.js' %}"></script>
<script src="{% static 'ui/components/CaseFormTemplate.js' %}"></script>

<script>
  new Vue({
    delimiters: ['[%', '%]'],
    el: '#app_patient',
    created: function() {
      var current_url = window.location.pathname;
      this.case_id = parseInt(current_url.substring(current_url.lastIndexOf('/') + 1), 10);
      this.nav_items = [['home'], ['search'], ['case_detail', {'id': this.case_id}]];

      if (new URLSearchParams(window.location.search).get('save')) {
        this.alert_list.push({content: "新建成功！", status: "success"});
        setTimeout(function(){ this_vm.alert_list.shift(); }, 3000);
      }

      var this_vm = this;
      this.load_patient_option();
      this.load_template_option();
      this.load_case().then(function () {
        this_vm.case_obj_old = _.clone(this_vm.case_obj);
      });
    },
    data: {
      case_obj: {},
      case_obj_old: {},
      alert_list: [],
      modal_info: {
        id: 'diffModal',
        title: '确认更改吗？',
        size: 'xl'
      },
      patient_option: [],
      template_option: []
    },
    computed: {
      modal_id : function() {
        return "#" + this.modal_info.id;
      }
    },
    methods: {
      chinese_compare: function(var1, var2) {
        return var1.name.localeCompare(var2.name, "zh-CN");
      },
      load_patient_option: function() {
        var this_vm = this;
        this.get_patient_option().then(function (response) {
          this_vm.patient_option = response.data.list.sort(this_vm.chinese_compare);;
        }).catch(function (error) {
          console.log(error);
        });
      },
      load_template_option: function() {
        var this_vm = this;
        this.get_template_option().then(function (response) {
          this_vm.template_option = response.data.list.sort(this_vm.chinese_compare);;
        }).catch(function (error) {
          console.log(error);
        });
      },
      load_case: function() {
        var this_vm = this;
        return this.get_case_by_id(this.case_id)
          .then(function (response) {
            this_vm.case_obj = response.data;
          });
      },
      submit: function() {
        $(this.modal_id).modal('show');
      },
      confirm: function() {
        var this_vm = this;
        this.post_case(this.case_obj)
          .then(function (response) {
            if (response.data.success) {
              $(this_vm.modal_id).modal('hide');
              this_vm.alert_list.push({content: "修改成功！", status: "success"});
              setTimeout(function(){ this_vm.alert_list.shift() }, 3000);
            }
          }).catch(function (error) {
            console.log(error);
          });
      },
    }
  });
</script>
{% endblock %}
