{% extends 'ui/base.html' %}
{% load static %}

{% block content %}
<div id="app_home">
  <navbar-template></navbar-template>
  <breadcrumb-template :nav_items="nav_items"></breadcrumb-template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        Here is home page.
      </div>
    </div>
  </div>
</div>



{% endblock %}

{% block scripts %}
<script src="{% static 'ui/components/NavbarTemplate.js' %}"></script>
<script src="{% static 'ui/components/BreadcrumbTemplate.js' %}"></script>

<script>
  new Vue({
    delimiters: ['[%', '%]'],
    el: '#app_home',
    data: {
      nav_items: [['home']]
    }
  })
</script>
{% endblock %}
